* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}